
#landing{
    background-color: var(--landing-bg-color);
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
  }
   #landing .container{
    position: relative;
    text-align: center;
    min-height: calc(100vh - 51px);  
    padding-top: 10vh;
    padding-bottom: 2rem;

  }
  #landing img{
    width: 150px;
    height:150px;
    border-radius:50%;
    
  }

  #landing h1{
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-family: 'Climate Crisis', cursive;
    background: linear-gradient(to right, rgb(17, 17, 138), rgb(179, 16, 16));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size:clamp(1.6rem,5vw,4rem);
  }
  
  #landing p{
    max-width: 700px;
    text-align: justify;
    margin: 0 auto;
    line-height: 1.4;
    font-weight: 700;
    color: var(--text-color);
  }
  #landing ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    bottom:0;
    right:1.5rem;
    width: 80%;
    transition:  background-color 1s ease-in-out;
  }

  #landing li{
    display: inline-block;
  }
  #landing li a{
    display: inline-block;
    color: var(--text-color);
    font-size:clamp(1.5rem,3vw ,2.25rem);
    margin: 1rem ;
    transition: transform 0.2s ease-out;
  }
  #landing li a:hover{
    transform: scale(1.2);
  }
  #landing strong{
    font-size: 1.2rem;
    color: var(--accent-color);
  }

  @media (max-width:480px){
    #landing ul{
      width: 100%;
      justify-content: center; 
    }
  }