
#landing{
  background-color: var(--bg-primary-clr);
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

#landing .container{
position: relative;
text-align: center;
min-height: calc(100vh - 51px);  
padding-top: 15vh;
padding-bottom: 3rem;
}
#landing img{
  width: 150px;
  height:150px;
  border-radius:50%;
}

#landing h1{
  font-family: 'Fredoka One', cursive;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* font-family: 'Climate Crisis', cursive; */
  background:var(--gradient-clr);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size:clamp(2.5rem,5vw,6rem);
}

#landing p{
  max-width: 700px;
  text-align: justify;
  margin: 0 auto;
  line-height: 1.4;
  font-weight: 700;
  color: var(--text-color);
}
#landing ul{
  display: flex;
  justify-content: flex-end;
  right:1.5rem;
  width: 90%;
  transition:  background-color 1s ease-in-out;
}

#landing li{
  display: inline-block;
}

#landing li a{
  display: inline-block;
  color: var(--text-primary-clr);
  font-size:clamp(1.5rem,2vw ,2.5rem);
  margin: 1rem ;
  transition: transform 0.2s ease-out;

}

#landing li a:hover{
  transform: scale(1.2);
}
/* #landing strong{
  font-size: 1.2rem;
  color: var(--accent-color);
} */


.toggle-theme{
  position: absolute;
  right: 2rem;
  top:1rem;
  padding: .2rem;
  border: 2px solid var(--primary-clr);
  border-radius: 100vw;
  z-index:1;
}
.toggle-theme:hover{
  cursor: pointer;
}

.icon-wrapper{
  position: relative;
  width: 2.5rem; 
  height: 1rem; 
}

.fa-sun{
  position: absolute;
  right: 0;
  font-size: 1rem;
  color:var(--primary-clr);
  opacity: 0;
  transition: opacity .5s ease-in-out;
  
}

.fa-moon{
  position: absolute;
  left: 0;
  font-size: 1rem;
  color:var(--primary-clr);
  opacity: 1;
  transition: opacity .5s ease-in-out;

}
.slider{
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(194, 194, 194);
  transition: margin-left 1s ease-in-out;  
}

.icon-opacity-moon{
  opacity: 0;
}
.icon-opacity-sun{
  opacity: 1;
}
.toogle{
  margin-left: 1.5rem;
 
}


@media (max-width:480px){
  #landing ul{
    width: 100%;
    justify-content: center; 
  }
}
