
#landing{
  background-color: var(--bg-primary-clr);
  min-height: calc(100vh - 51px); 
  padding-bottom: 2rem;
  /* background-image: var(--bg-primary-clr); */
  /* transition: background-color 1s ease-in-out, color 1s ease-in-out; */

}

#landing .container{
  position: relative;
  text-align: center; 
  padding-top: 10vh;
  padding-bottom: 2rem;
  color: var(--text-primary-clr);
}
#landing img{
  width: 150px;
  height:150px;
  border-radius:50%;
}

#landing h1{

  margin-top: 1rem;
  margin-bottom: 0rem;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size:clamp(2.5rem,5vw,6rem);

  background-image:var(--gradient-clr);  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
#landing span{
  font-size:clamp(1rem, 1.4vw,2rem);
  font-weight: 300;
}

.btn-resume{
  display: inline-block;
  padding: 0.3rem .7rem;
  font-weight: 700;
  color: var(--accent-clr);
  margin-left:.5rem ;
  outline: 1px solid;
  border-radius: 3px;
  animation: btn-animation 1s infinite alternate ;
}
@keyframes btn-animation{
  100%{
    scale: 1.07;
  }
}

#landing ul{
  display: flex;
  justify-content: flex-end;
  right:1.5rem;
  width: 90%;
  transition:  background-color 1s ease-in-out;
}

#landing li{
  display: inline-block;
}

#landing li a{
  display: inline-block;
  color: var(--text-primary-clr);
  font-size:clamp(1.5rem,2vw ,2.5rem);
  margin: 1rem ;
  transition: transform 0.2s ease-out;

}

#landing li a:hover{
  transform: scale(1.2);
}


.toggle-theme{
  position: absolute;
  right: 2rem;
  top:1rem;
  padding: .2rem;
  border: 2px solid var(--primary-clr);
  border-radius: 100vw;
  z-index:1;
}
.toggle-theme:hover{
  cursor: pointer;
}

.icon-wrapper{
  position: relative;
  width: 2.5rem; 
  height: 1rem; 
}

.fa-sun{
  position: absolute;
  right: 0;
  font-size: 1rem;
  color:var(--primary-clr);
  opacity: 0;
  transition: opacity .5s ease-in-out;
  
}

.fa-moon{
  position: absolute;
  left: 0;
  font-size: 1rem;
  color:var(--primary-clr);
  opacity: 1;
  transition: opacity .5s ease-in-out;

}
.slider{
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(194, 194, 194);
  transition: margin-left 1s ease-in-out;  
}

.icon-opacity-moon{
  opacity: 0;
}
.icon-opacity-sun{
  opacity: 1;
}
.toogle{
  margin-left: 1.5rem;
 
}


@media (max-width:510px){
  #landing ul{
    width: 100%;
    justify-content: center; 
  }
  .toggle-theme{
    right: 1rem;
  }

  .btn-resume{
    position: absolute;
    width: max-content;
    bottom: 0;
    left:0;
    right: 0;
    margin: 0 auto;
  }
}
